<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ca.tech.sense.it.smart.indoor.parking.system">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.SmartIndoorParkingSystem"
        tools:targetApi="31">
        <activity
            android:name=".launcherActivity.ui.OwnerSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".launcherActivity.ui.OwnerLoginActivity"
            android:exported="false" />
        <activity
            android:name=".launcherActivity.onBoarding.OnboardingActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.SmartIndoorParkingSystem" />
        <activity
            android:name=".stripe.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".launcherActivity.ui.OwnerSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".launcherActivity.ui.OwnerLoginActivity"
            android:exported="false" />
        <activity
            android:name=".owner.OwnerActivity"
            android:exported="false" />
        <activity
            android:name=".launcherActivity.ui.FirstActivity"
            android:exported="false" />
        <activity
            android:name=".network.NoNetworkActivity"
            android:exported="false" />
        <activity
            android:name=".utility.ImageCropActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.SmartIndoorParkingSystem" />
        <activity
            android:name=".launcherActivity.ui.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".launcherActivity.ui.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".launcherActivity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <receiver
            android:name=".network.NetworkChangeReceiver"
            android:enabled="true"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCBb9Vk3FUhAz6Tf7ixMIk5xqu3IGlZRd0" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>